services:
  redis:
    image: redis:6
    platform: linux/amd64
    container_name: dms_redis
    restart: always
    # command: redis-server
    volumes:
      - ./redis_data:/data
    ports:
      - 6379:6379
    networks:
      - dms_network
      
  postgres:
    image: postgres:16
    container_name: dms_database
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dms_network

  prometheus:
    image: prom/prometheus:latest
    container_name: dms_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    networks:
      - dms_network

  grafana:
    image: grafana/grafana:latest
    container_name: dms_grafana
    ports:
      - "4000:3000"
    env_file:
      - .env
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - dms_network

  n8n:
    image: n8nio/n8n
    restart: unless-stopped
    container_name: dms_n8n    
    env_file:
      - .env
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - n8n_logs:/home/node/.n8n/logs
    depends_on:
      - redis
    networks:
      - dms_network

  api:
    container_name: dms_api
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - logs:/app/logs
    depends_on:
      - postgres
      - redis
    networks:
      - dms_network    

  caddy:
    container_name: dms_caddy
    build:
      context: .
      dockerfile: ./docker/caddy/Dockerfile      
    restart: unless-stopped  
    env_file:
      - .env
    expose:
      - 80/tcp
      - 443/tcp
      - 443/udp
      - 2019/tcp
    ports:
      - ${CADDY_INTERFACE:-0.0.0.0}:80:80
      - ${CADDY_INTERFACE:-0.0.0.0}:443:443
    volumes:
      - ./caddy_data:/data
      - ./caddy_config:/config
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
    networks:
      - dms_network

networks:
  dms_network:
    driver: bridge
    name: dms_network

volumes:
  caddy_data:
  caddy_config:
  postgres_data:
  grafana_data:
  prometheus_data:
  n8n_data:
  n8n_logs: 
  logs:
  metrics:
