{
  admin 127.0.0.1:2019
}

(proxy_common) {
  header_up X-Real-IP {remote_host}
  header_up X-Forwarded-For {remote_host}
  transport http {
    dial_timeout 10s
    read_timeout 60s
    write_timeout 60s
  }
}

*.{$DOMAIN} {
	tls {
		dns cloudflare {$CADDY_DNS_CLOUDFLARE_TOKEN}
		propagation_timeout 60m
	}

	log {
		output file /data/access.log {
			roll_size 50mb
			roll_keep 10
			roll_keep_for 720h
		}
		format console
		level INFO
	}

	encode gzip
	
	header {
		Strict-Transport-Security "max-age=63072000"
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' https: data: blob:"
	}
	
	@n8n host n8n.{$DOMAIN}
	reverse_proxy @n8n n8n:{$N8N_PORT:5678} {
		import proxy_common
	}	
	
	@api host api.{$DOMAIN}
	reverse_proxy @api api:{$PORT:3000} {
		import proxy_common
	}	
	
	@grafana host grafana.{$DOMAIN}
	reverse_proxy @grafana grafana:3000 {
		import proxy_common
	}	
}
